ul li {
	width: 100px;
	height: 50px;
    line-height: 50px;
    float: right;
    border: 1px solid skyblue;
    text-align: center;
}
h2, h3 {
        font-family: 'Ubuntu', sans-serif;

}
.ex {
    width: 1400px;
    height: 50px;
    padding: 1px;
    border: 5px dotted skyblue;
    margin: 0px;
}
